# SPDX-FileCopyrightText: 2026 Ludwig Hülk <https://github.com/Ludee> © Reiner Lemoine Institut
# SPDX-FileCopyrightText: OEO <https://github.com/OpenEnergyPlatform/ontology>
# SPDX-License-Identifier: MIT

mkdocs
mkdocs-material
