:root > * {
  --md-primary-fg-color: #1F567D;
  --md-primary-fg-color--dark: #5d6cc0;
  --md-typeset-a-color: #5ba6ec;
  /* --md-text-font-color:         #ffffff;  */
  /* --md-primary-fg-color--light: #ECB7B7; */
}
